# ---------------------------
# DEPENDÊNCIAS
# ---------------------------
node_modules/
vendor/

# ---------------------------
# BUILDS E CACHE
# ---------------------------
dist/
.cache/
.nuxt/
public/build/
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

# ---------------------------
# DOCKER
# ---------------------------
docker-data/
*.pid

# ---------------------------
# ARQUIVOS DE CONFIGURAÇÃO
# ---------------------------
.env
.env.local
.env.*.local

# ---------------------------
# LOGS
# ---------------------------
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ---------------------------
# IDEs E EDITORES
# ---------------------------
.vscode/
.idea/
*.swp

# ---------------------------
# OUTROS
# ---------------------------
.DS_Store
Thumbs.db

